body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 3em;
}
.colors {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15em;
    gap: 0.5em;
    height: 4em;
    background-color: #F5F5F5;
    padding: 2em;
    
}
.colors > div {
    width: calc((100% - 1.5em) / 4);
    height: 100%;
    opacity: 0.5;
    cursor: pointer;
    border-radius: 10px;
}
.colors > div:hover {
    transition: 0.5s;
    opacity: 1;
}
.colors .red {
    background-color: red;
}
.colors .blue {
    background-color: blue;
}
.colors .green {
    background-color: green;
}
.colors .yellow {
    background-color: yellow;
}
.result {
    width: 25em;
    
    height: 20em;
}